body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13, 13, 13);
    border-radius: 5%;
    max-width:550px;
    width: 100%;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 40px;
    border: none;
    text-align: left;
    background-color: rgb(32, 30, 30);
    color: white;
    font-size: 2rem;
}
#panel{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    padding: 25px;
}
button{
    height: 90px;
    width: 90px;
    border-radius: 40%;
    border: none;
    background-color: #cf8d22;
    color:antiquewhite;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button.zero{
    grid-column: span 2;
    width: 190px;
    border-radius: 30%;
}
button.equals{
    grid-column: span 2;
    width: 190px;
    border-radius: 30%;
}
button.operation{
    background-color: #62420e;
}
button:hover{
    background-color: #ff9d00;
}
button:active{
    background-color: #f3c780;
}
button.operation:hover{
    background-color: #915e0d;
}
button.operation:active{
    background-color: #ecd0a4;
}